@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 2px 8px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;

}
header h1{
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
header ul{
    display: flex;
}
header ul li{
    padding: 20px;
}
header ul li a{
    color: #000;
    transition: all 0.3s ease;
    font-size: 18px;
}
header ul li a:hover{
    color: #00bbf0;
}
.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
}
.nav-menu .close i{
    position: relative;
    left: 200px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#home{
    width: 100%;
    margin-top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .image img{
    width: 400px;
    border-radius: 50%;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.1);
}
#home .content-box{
    margin-left: 150px;
    text-align: center;
}
.content-box h4{
    margin-bottom: 10px;
    color: #222;
    font-size: 20px;
    font-weight: 400;
}
.content-box h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.content-box h3{
    font-size: 25px;
    font-weight: 500;
    color: rgb(153, 150, 150);
    margin-bottom: 15px;
}
.content-box .buttons-1{
    margin-bottom: 10px;
}
.content-box .buttons-1 button{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 15px;
}
.buttons-1 button:nth-child(1){
    background-color: transparent;
    border: 2px solid #222;
    transition: all 0.3s ease;

}
.buttons-1 button:nth-child(1) a{
    color: #222;
}

.buttons-1 button:nth-child(2)
{
    background-color: #222;
    color: #fff;
}
.buttons-1 button:nth-child(2) a
{
    color: #fff;
}


.content-box .icons i{
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.icons a,
#contact .icons-box a{
    color: #000;
}
.icons i:hover{
    background-color: #000;
    color: #fff;
}

#about h3{
    margin-top: 230px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: rgb(110, 107, 107);
}
#about h2,
#skills h2,
#projects h2,
#contact h2{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.about-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
}
.about-content .boxes{
    display: flex;
}
.about-content .box{
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 30px;
    margin-right: 30px;
}
.about-content .box i{
    font-size: 40px;
    margin-bottom: 5px;
}
.box h4{
    font-size: 20px;
}
.about-content p{
    margin-top: 30px;
}
#skills h3{
    margin-top: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: rgb(110, 107, 107);
}

.skills-container{
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 0 200px;
}
.skills-container .skill-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.skills-container .frontend{
    border: 2px solid rgb(110, 107, 107);
    border-radius: 30px;
    width: 100%;
}

.frontend h4, .backend h4{
    font-size: 30px;
    margin-top: 25px;
    color: rgb(110, 107, 107);
    text-align: center;
}
.skills-container .skill-boxes .skill-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.skill-box  i{
    font-size: 40px;
    align-self: flex-end;
}
.skill-box .ln{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.skill-box .ln h5{
    padding-left: 10px;
    font-size: 20px;
}

#projects h3,
#contact h3{
    margin-top: 150px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: rgb(110, 107, 107);
}
#projects .projects-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.projects-container .project-box{
    height: 580px;
    width: 400px;
    border: 2px solid rgb(110, 107, 107);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 8px 8px 2px rgba(0, 0, 0, 0.1);
}
.project-box img{
    width: 350px;
    height: 420px;
    border-radius: 50px;
}
.project-box h4{
    margin-top: 5px;
    font-size: 25px;
    text-align: center;
}
.project-box .buttons{
    margin: 15px 0;
    text-align: center;
}
.project-box .buttons a {
    border: 0;
    outline: 0;
    padding: 15px 30px;
    background-color: transparent;
    color: #222;
    border: 2px solid #222;
    border-radius: 25px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.buttons a:hover{
    background-color: #222;
    color: #fff;
}
#contact {
    text-align: center;
}
#contact .email-box{
    margin-top: 80px;
}
.email-box span{
    padding: 25px;
    border: 2px solid #222;
    border-radius: 30px;
    font-size: 20px;

}
.email-box span i{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    align-items: center;
}
#contact .icons-box{
    margin-top: 60px;
}
#contact .icons-box i{
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#contact .icons-box i:hover{
    background-color: #222;
    color: #fff;
}
#contact ul{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact ul li{
    padding: 20px;
}
#contact ul li a{
    color: #222;
    transition: all 0.3s ease-in;
    font-size: 20px;
    font-weight: 500;
}
#contact ul li a:hover{
    color: #00bbf0;
}
#contact .copyright{
    margin-bottom: 20px;
}
#contact .copyright span{
    color: rgb(110, 107, 107);
}

@media only screen and (max-width: 1500px) {
    .about-container{
        padding: 0 100px;
    }
    .skills-container{
        padding: 0 100px;
    }
}
@media only screen and (max-width: 1300px) {
    .about-container .about-image img{
        width: 300px;
    }
    .about-container .about-content{
        margin-top: 50px;
    }
}
@media only screen and (max-width: 1200px) {
    #home .image img{
        width: 300px;
    }
    #home .content-box{
        margin-left: 100px;
    }
    .about-container{
        padding: 0 50px;
    }
    .skills-container{
        padding: 0 50px;
    }
    .about-container .about-image img{
        width: 300px;
    }
    .about-container .about-content{
        margin-top: 50px;
    }
    .projects-container .project-box{
        height: 480px;
        width: 300px;
    }
    .project-box img{
        width: 260px;
        height: 300px;
        border-radius: 50px;
    }
    .project-box h4{
        font-size: 20px;
    }
    .project-box .buttons button{
        padding: 15px 20px;
        border-radius: 35px;
        margin-left: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1100px) {
    #home .image img{
        width: 300px;
    }
    #home .content-box{
        margin-left: 70px;
    }
    .content-box h2{
        font-size: 30px;
    }
    .about-container{
        padding: 0 50px;
    }
    .about-container .about-image img{
        width: 300px;
    }
    .about-container .about-content{
        margin-top: 50px;
    }
    .skills-container{
        padding: 0 50px;
    }
    .frontend h4, .backend h4{
        font-size: 20px;
    }
    .skill-box  i{
        font-size: 25px;
        align-self: flex-end;
    }
    .skill-box .ln h5{
        padding-left: 10px;
        font-size: 15px;
    }
    
    .projects-container .project-box{
        height: 480px;
        width: 300px;
    }
    .project-box img{
        width: 260px;
        height: 300px;
        border-radius: 50px;
    }
    .project-box h4{
        font-size: 20px;
    }
    .project-box .buttons button{
        padding: 15px 20px;
        border-radius: 35px;
        margin-left: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 900px) {
    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        margin-top: 0px;
        top: 80px;
        left: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: 0.3s;
    }
    .nav-menu .close i{
        display: block;
    }

    .nav-menu .list {
        flex-direction: column;
    }

    .list .list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #home .image img{
        width: 300px;
    }
    #home .content-box{
        margin-left: 70px;
        text-align: center;
    }
    .content-box h2{
        font-size: 30px;
    }
    .about-container{
        padding: 0 50px;
        flex-direction: column;
        justify-content: space-around;
    }
    .about-container .about-image img{
        width: 100%;
    }
    .about-container .about-content{
        margin-top: 50px;
    }
    .skills-container{
        padding: 0 20px;
    }
    .frontend h4, .backend h4{
        font-size: 15px;
    }
    .skill-box  i{
        font-size: 20px;
        align-self: flex-start;
    }
    .skill-box .ln h5{
        padding-left: 10px;
        font-size: 15px;
    }
    .projects-container{
        flex-direction: column;
    }
    
    .projects-container .project-box{
        margin-top: 30px;
        height: 480px;
        width: 400px;
    }
    .project-box img{
        width: 350px;
        height: 300px;
        border-radius: 50px;
    }
    .project-box h4{
        font-size: 20px;
    }
    .project-box .buttons button{
        padding: 15px 20px;
        border-radius: 35px;
        margin-left: 10px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 650px) {
    #home{
        width: 100%;
        flex-direction: column;
        margin-top: 100px;
    }
    #home .content-box{
        margin-left: 0px;
        margin-top: 30px;
        text-align: center;
    }
    .skills-container{
        width: 100%;
        padding: 10px;
    }
    .frontend h4, .backend h4{
        font-size: 25px;
    }
    .skill-box{
        flex-direction: column;

    }
    .skill-box  i{
        font-size: 25px;
    }
    .skill-box .ln h5{
        padding-left: 8px;
        font-size: 20px;
    }
    #contact ul li a{
        font-size: 15px;
    }
    #contact .email-box span{
    padding: 10px;
    border: 2px solid #222;
    border-radius: 30px;
    font-size: 15px;
    }

}
@media only screen and (max-width: 450px) {
    #home{
        width: 100%;
        flex-direction: column;
        margin-top: 100px;
    }
    #home .content-box{
        margin-left: 0px;
        margin-top: 30px;
        text-align: center;
    }
    #home .image img{
        width: 250px;
    }
    .content-box h2{
        font-size: 20px;
    }
    .content-box h3{
        font-size: 15px;
    }
    .about-content .boxes{
        flex-direction: column;
    }
    .about-content .boxes .box{
        margin-top: 20px;
    }
    .skills-container{
        width: 100%;
        padding: 10px;
    }
    .frontend h4, .backend h4{
        font-size: 25px;
    }
    .skill-box{
        flex-direction: column;

    }
    .skill-box  i{
        font-size: 25px;
    }
    .skill-box .ln h5{
        padding-left: 8px;
        font-size: 20px;
    }
    .projects-container .project-box{
        margin-top: 30px;
        height: 540px;
        width: 300px;
    }
    .project-box img{
        width: 250px;
        height: 300px;
        border-radius: 50px;
    }
    .project-box h4{
        font-size: 20px;
    }
    .project-box .buttons{
        display: flex;
        flex-direction: column;
    }
    .project-box .buttons a{
        margin-top: 10px;
        padding: 10px;
        border-radius: 35px;
        margin-left: 10px;
        font-size: 15px;
    }
    #contact ul li{
        padding: 5px;
    }
    #contact ul li a{
        font-size: 13px;
    }
    #contact .email-box span{
    padding: 15px;
    border: 2px solid #222;
    border-radius: 30px;
    font-size: 10px;
    }

}